<% page_title t('forum.p') %>

<div class="page-header">
  <h1><%= t 'forum.p' %></h1>
</div>

<% @forums.each do |forum| %>
  <div class="well">
    <%= link_to forum.name, forum %>
  </div>
<% end %>