<div id="stuffs_carousel" class="carousel slide hidden-phone">
  <div class="carousel-inner">
    <% stuffs.each_with_index do |stuff, i| %>
      <div class="item <%= 'active' if i == 0 %>">
        <%= image_tag stuff.image.large_rectangle.url %>
        <div class="carousel-caption">
          <h4><%= link_to stuff.name, pub_stuff_path(stuff.pub, stuff) %></h4>
          <p><%= truncate hide_html(stuff.content), length: 200, separator: ' ' %></p>
        </div>
      </div>
    <% end %> 
  </div>

  <a class="carousel-control left" href="#stuffs_carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#stuffs_carousel" data-slide="next">&rsaquo;</a>
</div>