<%= render 'users/shared/settings_header', {active: :accounts} %>

<table class="table table-striped">
<% unless current_user.facebook_url.blank? %>
  <tr>
    <td><%= link_to 'Facebook', current_user.facebook_url, target: '_blank' %></td>
    <td><%= destroy_button user_account_path(:facebook) %></td>
  </tr>
<% end %>
</table>