<%= render 'comments/new', {comment: (@comment.nil? ? commentable.comments.new : @comment)} %>
<div class="comments">
  <% commentable.comments.order_by([:created_at, :desc]).each do |comment| %>
    <%= render 'comments/show', {comment: comment} %>
  <% end %>
</div>