<li class="notification">
  <%= link_to notification do %>
    <%= image_tag notification.notifiable.image.thumb.url, :class => 'size20' %>
    <%= raw word_wrap(notification.content, line_width: 18) %>
  <% end %>
</li>