<div class="control-group">
  <div class="controls">
    <%= label_tag nil, :class => 'checkbox' do %>
      <%= check_box_tag :watch, 'yes', true %>
      <%= t 'action.watch' %>
    <% end %>
  </div>
</div>