<% page_title t("exception.e#{@type}.title") %>

<div style="text-align: center; padding-bottom: 120px">
  <h1><%= t "exception.e#{@type}.title" %></h1>
  <p class="lead"><%= t "exception.e#{@type}.text" %></p>
  <%= image_tag "exception/#{@type}.png" %>
</div>