<div class="hero-unit hidden-phone">
  <h1><%= Raddar::config.name %></h1>
  <p>Look at my community, my community is amazing! Give it a try, join us!</p>
</div>

<div class="well visible-phone">
  <h3><%= Raddar::config.name %></h3>
  <p>Look at my community, my community is amazing! Give it a try, join us!</p>
</div>