<p><%= t('mailer.template.hello', name: @notification.user.name) %></p>
<br/>
<%= t 'notice_mailer.body.new_comment.html', author: @comment.user.name, commentable: @comment.commentable.name, comment_url: link_to(@notification.url, @notification.url), unwatch_url: link_to(@unwatch_url, @unwatch_url, method: :delete) %>