<p><%= t('mailer.template.hello', name: @notification.user.name) %></p>
<br/>
<%= t 'notice_mailer.body.new_rank.html', universe: link_to(@rank.universe.name, @rank.universe.url), rank: link_to(@rank.name, @notification.url) %>