<p><%= t('mailer.template.hello', name: @notification.user.name) %></p>
<br/>
<%= t 'notice_mailer.body.new_follower.html', follower: @follower.name, url: link_to(@notification.url, @notification.url), edit_conf_url: link_to(edit_user_notifications_url, edit_user_notifications_url) %>