<p><%= t('mailer.template.hello', name: @user.name) %></p>
<br/>
<%= t 'notice_mailer.body.new_forum_post.html', author: @post.user.name, topic: @post.topic.name, post_url: link_to(@post.url, @post.url), unwatch_url: link_to(topic_watching_path(@post.topic), topic_watching_path(@post.topic), method: :delete) %>