<p id="greetings"><%= t('mailer.template.hello', name: @notification.user.name) %></p>

<%= t 'notice_mailer.body.new_rank.html', universe: link_to(@rank.universe.name, universe_url(@rank.universe)), rank: link_to(@rank.name, notification_url(@notification)) %>