<%= simple_form_for([@post.topic.forum,@post.topic,@post]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= render 'forums/posts/textarea', {form: f} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('action.reply') %>
  </div>
<% end %>
