.sidebar-nav {
  padding: 9px 0;
}

img.size20{
  border-radius: 3px 3px 3px 3px;
  height: 20px;
  width: 20px;
}

img.size40{
  border-radius: 3px 3px 3px 3px;
  height: 40px;
  width: 40px;
  margin: 4px;
}

span.notification_count {
  margin-left: 5px;
}

img.cover {
  margin-right: 7px;
  margin-bottom: 7px;
}

img.center {
  display: block;   
  margin-left: auto;   
  margin-right: auto; 
}

.justified {
  text-align: justify;
}

.centered {
  text-align: center;
}

.editable_content {
  @extend .justified;
}

.editable_content {
  *zoom: 1;
}

.editable_content:before,
.editable_content:after {
  display: table;
  line-height: 0;
  content: "";
}

.editable_content:after {
  clear: both;
}

.well h4{
  margin: 0 0 10px;
}