#wrap #layout_top .container{
  padding-top: 60px; /* to make the container go all the way to the bottom of the topbar */
}

#main_container {
  padding: 30px 0 40px;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

html{
  width: 100%
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding: 0;
  /* Negative indent footer by it's height */
  margin: 0 auto -220px;
}

/* Set the fixed height of the footer here */
#push, footer {
  height: 220px;
}

footer .container {
  padding-top: 20px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  #wrap #layout_top .container{
    padding-top: 0;
  }
}

.sidebar-nav {
  padding: 9px 0;
}

img.size20{
  border-radius: 3px 3px 3px 3px;
  height: 20px;
  width: 20px;
}

img.size40{
  border-radius: 3px 3px 3px 3px;
  height: 40px;
  width: 40px;
  margin: 4px;
}

span.notification_count {
  margin-left: 5px;
  display: none;
}

img.center {
  display: block;   
  margin-left: auto;   
  margin-right: auto; 
}

.justified {
  text-align: justify;
}

.centered {
  text-align: center;
}

.editable_content {
  @extend .justified;
}

.editable_content {
  *zoom: 1;
}

.editable_content:before,
.editable_content:after {
  display: table;
  line-height: 0;
  content: "";
}

.editable_content:after {
  clear: both;
}

.well h4{
  margin: 0 0 10px;
}

div.like_button {
  margin-left: 8px;
}