.fb-like-box {
  margin-bottom: 20px;
}

.tags_list a {
  margin: 0px 5px 5px 0px;
}

.index_item {
  margin-bottom: 8px;
}

.universe_link {
  background-position: center;
  text-align: center;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;

  a{
    font-size: 1.25em;
    font-weight: bold;
    color: #999999;
    display: block;
    padding: 15px;
    text-shadow: -1px 0 #333333, 0 1px #333333, 1px 0 black, 0 -1px black;
  }

  a:hover{
    text-decoration: none;
    color: #F0F0F0;
  }
}

dl.search_results {
  dt {
    font-weight: inherit;
    font-size: 1.25em;
  }

  dd {
    margin-bottom: 20px;
  }
}