div.chat{
  overflow: auto;
  height: 250px;
  padding: 30px 10px 0px 10px;
}

div.chat div.message{
  min-height: 40px;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

div.chat div.message img{
  //margin-bottom: 8px;
}

div.chat div.sent img{
  float: left;
  margin-right: 8px;
}

div.chat div.sent{
  text-align: left;
}

div.chat div.received img{
  float: right;
  margin-left: 8px;
}

div.chat div.received{
  text-align: right;
}

div.chat div.message time{
  font-size: 10px;
}

#all_chats td time {
  font-size: 11px;
}

#all_chats tr.unread{
  font-weight: bold;
}

.new_message textarea{
  width: 100%;
}

.more_messages_link {
  margin-bottom: 15px;
}