#stuff_container{
  margin-bottom: 20px;
}

.stuff .content {
  text-align: justify;
}

.stuff img.main {
  margin-bottom: 20px;
}

.stuff {
  margin-bottom: 10px;
}

#stuff_container .sidebar{
  height: 100%;
}

.stuff_resumed .content{
  text-align: justify;
}

#stuffs_carousel{
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

  h4 a {
    color: #FFFFFF;
  }

  img{
    width: 100%;
  }
}