#stuff_container{
  margin-bottom: 20px;
}

.stuff .content img{
  float: left;
  margin: 10px;
}

.stuff .content {
  text-align: justify;
}

.stuff img.main {
  margin-bottom: 20px;
}

.stuff {
  margin-bottom: 10px;
}

#stuff_container .sidebar{
  height: 100%;
}

.stuff_resumed .content{
  text-align: justify;
}