.user_page img#main_image {
  margin-bottom: 20px;
}

.user_page .rank p {
  font-size: 0.8em;
  line-height: 16px;
  margin-bottom: 0;
}

.user_account_link {
  margin-right: 10px;

  img {
    margin: 0px;
  }
}