.user_page img#main_image {
  margin-bottom: 20px;
}

.user_page .rank {
  p {
    font-size: 0.8em;
    line-height: 16px;
    margin-bottom: 0;
  }

  img {
    margin-right: 8px;
  }
}

.user_page .pub_snippet strong{
  display: block;
  font-size: 17px;
  margin-bottom: 13px;
}

.user_account_link {
  margin-right: 10px;

  img {
    margin: 0px;
  }
}