<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= link_to root_url do %>
      <h1><%= Raddar::config.app['name'] %></h1>
    <% end %>
    <%= yield %>
    <p><%= t('mailer.template.automatic') %></p>
  </body>
</html>