<p><%= t('mailer.template.hello', name: @resource.name) %></p>
<br/>
<% url = confirmation_url @resource, :confirmation_token => @resource.confirmation_token %>
<%= t 'user_mailer.body.confirmation.html', url: link_to(url, url) %>