<p><%= t('mailer.template.hello', name: @resource.name) %></p>
<br/>
<%= t 'user_mailer.body.reset_password.html', url: link_to(t('user.password.edit'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)) %>